*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
/* header{
    display: flex;
    justify-content: center;
} */
.container{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}
.logo{
   
    width: 140px;
    height: 40px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo p{
    font-size: 19px;
    letter-spacing: 2px;
    font-weight: 100;
}
.iconbox{
    display: flex;
    gap: 15px;
}
.iconbox i{
    font-size: 18px;
    color: gray;
}
.input input{
    border: none;
    font-size: 15px;
    padding: 5px;
}
.input form{
    display: flex;
    gap: 15px;
    align-items: center;
}
.input i{
    font-size: 13px;
    color:gray;
}
.basket{
    position: relative;
}
.basket span{
    position: absolute;
    color: white;
    padding: 2px;
    font-size: 10px;
    border-radius: 18px;
    background-color: rgb(143, 83, 143);
    top: -10px;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
.navbar ul{
    display: flex;
    gap: 30px;
}
.navbar li{
    list-style: none;
}
.navbar a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 400;
}